//Primary Color
$color-primary: #ffffff;
$color-primary-light: rgb(45, 122, 238);
$color-primary-dark: rgba(255, 154, 117, 0.815);

//Secondary Color
$color-secondary-light: rgb(252, 255, 167);
$color-secondary-dark: #24abff;

$color-tertiary-light: #68b2f8;
$color-tertiary-dark: #a9f348;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//Dark
$color-grey-dark: #777;
$color-grey-dark-2: rgb(29, 27, 27);
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//Font Color
$default-font-size: 2.5rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
